
<div class="grid">
  <div class="col-3 md:col-12 lg:col-3">
    <app-info-cards
      titulo="Bs. Efectivo"
      [valor]="cuentaService.cuentasByType().bolEfectivo"
      ></app-info-cards>
  </div>
  <div class="col-3 md:col-12 lg:col-3">
    <app-info-cards
      titulo="Bs. Banco"
      [valor]="cuentaService.cuentasByType().bolbanco"></app-info-cards>
  </div>
  <div class="col-3 md:col-12 lg:col-3">
    <app-info-cards
      titulo="$ Efectivo"
      [valor]="cuentaService.cuentasByType().dolEfectivo"></app-info-cards>
  </div>
  <div class="col-3 md:col-12 lg:col-3">
    <app-info-cards
      titulo="$ Banco"
      [valor]="cuentaService.cuentasByType().dolBanco"></app-info-cards>
  </div>
</div>

<div class="grid">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h5 class="text-500">Registrar Transacción</h5>
      </div>
      <div class="card-body">
        <form [formGroup]="registrarCuentaForm" (ngSubmit)="registrarCuenta()">
          <div class="formgrid grid">
            <div class="field col-4 mb-2">
              <label class="form-label" for="basic-icon-default-fullname">Cliente</label>
              <p-dropdown
                formControlName="cliente"
                [options]="clientesService.clientes()"
                optionLabel="nombre"
                optionValue="id"
                placeholder="Seleccione..."
                class="p-inputtext-sm"
                styleClass="w-full"
                >
              </p-dropdown>
            </div>
            <div class="field col-4 mb-2">
              <label class="form-label" for="basic-icon-default-fullname">Pedido</label>
              <p-dropdown
                formControlName="pedido"
                [options]="pedidosService.pedidos()"
                optionLabel="id"
                optionValue="id"
                placeholder="Seleccione..."
                class="p-inputtext-sm"
                styleClass="w-full"
                >
              </p-dropdown>
            </div>
          </div>
          <div class="formgrid grid">
            <div class="field col-2 mb-2">
              <label class="form-label" for="basic-icon-default-fullname">Moneda</label>
              <p-dropdown
                formControlName="moneda"
                [options]="listasService.monedas()"
                optionLabel="desc"
                optionValue="id"
                placeholder="Seleccione..."
                class="p-inputtext-sm"
                styleClass="w-full"
                >
              </p-dropdown>
            </div>
            <div class="field col-2 mb-2">
              <label class="form-label" for="basic-icon-default-fullname">Monto</label>
              <p-inputNumber
                inputId="minmaxfraction"
                mode="decimal"
                [minFractionDigits]="2"
                [maxFractionDigits]="2"
                formControlName="monto"
                class="p-inputtext-sm w-full"
                styleClass="w-full"
                [min]="0"
                >
              </p-inputNumber>
            </div>
            <div class="field col-4 mb-2">
              <label class="form-label" for="basic-icon-default-fullname">Fecha de pago</label>
              <p-calendar
                formControlName="fecha"
                class="p-inputtext-sm"
                styleClass="w-full"
                >
              </p-calendar>
            </div>
            <div class="field col-4 mb-2">
              <label class="form-label" for="basic-icon-default-fullname">Descripción</label>
              <div class="input-group input-group-merge">
                <span id="basic-icon-default-fullname2" class="input-group-text"><i class="bx bx-user"></i></span>
                <input
                  type="text"
                  pInputText
                  class="p-inputtext-sm w-full"
                  formControlName="desc">
              </div>
            </div>
            <div class="field col-4 mb-2">
              <label class="form-label" for="basic-icon-default-fullname">Tipo de Transaccion</label>
              <p-dropdown
                formControlName="tipoTransac"
                [options]="listasService.tipoTransac()"
                optionLabel="desc"
                optionValue="id"
                placeholder="Seleccione..."
                class="p-inputtext-sm"
                styleClass="w-full"
                >
              </p-dropdown>
            </div>
            <div class="field col-4 mb-2">
              <label class="form-label" for="basic-icon-default-fullname">Tipo de Cuenta</label>
              <p-dropdown
                formControlName="tipoCuenta"
                [options]="listasService.tipoCuenta()"
                optionLabel="desc"
                optionValue="id"
                placeholder="Seleccione..."
                class="p-inputtext-sm"
                styleClass="w-full"
                >
              </p-dropdown>
            </div>
            <div class="field col-4 mb-2">
              <label class="form-label" for="basic-icon-default-fullname">Banco</label>
              <p-dropdown
                formControlName="banco"
                [options]="listasService.bancos()"
                optionLabel="banco"
                optionValue="id"
                placeholder="Seleccione..."
                class="p-inputtext-sm"
                styleClass="w-full"
                >
              </p-dropdown>
            </div>
            <div class="col-12 mt-2">
              <div class="flex justify-content-end gap-2">
                <p-button
                  type="submit"
                  severity="primary"
                  label="Registrar"
                  size="small"
                  icon="pi pi-plus">
                </p-button>
                <p-button
                  type="button"
                  label="Editar"
                  severity="warning"
                  size="small"
                  icon="pi pi-file-edit">
                </p-button>
                <p-button
                  type="button"
                  label="Cancelar"
                  severity="danger"
                  [outlined]="true"
                  size="small"
                  icon="pi pi-trash">
                </p-button>
              </div>
            </div>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>
