<div class="card py-2 px-3" [ngClass]="borderColor">
  <div class="card-body">
    <div class="card-title flex align-items-start justify-content-between">
      <div class="avatar flex-shrink-0">
        <img [src]="icono" alt="chart success" class="rounded" />
      </div>
      <span class="fw-semibold block mt-3"> {{ titulo }} </span>

      <!-- <div class="dropdown">
        <button
          class="btn p-0"
          type="button"
          id="cardOpt3"
          data-bs-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <i class="bx bx-dots-vertical-rounded"></i>
        </button>
        <div
          class="dropdown-menu dropdown-menu-end"
          aria-labelledby="cardOpt3"
        >
          <a class="dropdown-item" href="javascript:void(0);"
            >View More</a
          >
          <a class="dropdown-item" href="javascript:void(0);">Delete</a>
        </div>
      </div> -->
    </div>
    <h3 class="card-title text-right"> {{ valor }} </h3>
    <small class="text-success fw-semibold">
      <i class="bx bx-up-arrow-alt" *ngIf="info"></i>
      {{ info }}
    </small>
  </div>
</div>
