<div class="grid">

  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h5 class="text-500">Registro de Inventario</h5>
      </div>
      <div class="card-body">
        <form [formGroup]="formInventario">
          <div class="formgrid grid">
            <div class="field col-12 md:col-4 mb-2">
              <label class="form-label" for="basic-icon-default-email">Insumo</label>
              <p-dropdown
                formControlName="insumo"
                [options]="insumosService.insumos()"
                optionLabel="nombre"
                [filter]="true"
                filterBy="nombre"
                optionValue="id"
                placeholder="Seleccione un insumo"
                class="p-inputtext-sm"
                styleClass="w-full"
                >
              </p-dropdown>
            </div>
            <div class="field col-12 md:col-4 mb-2">
              <label class="form-label" for="basic-icon-default-phone">Inventario Inicial</label>
              <p-inputNumber
                inputId="integeronly"
                formControlName="inicial"
                class="p-inputtext-sm w-full"
                styleClass="w-full"
                (onInput)="calcularFinal()"
                >
              </p-inputNumber>
            </div>
            <div class="field col-12 md:col-4 mb-2">
              <label class="form-label" for="basic-icon-default-phone">Ventas</label>
              <p-inputNumber
                inputId="integeronly"
                formControlName="ventas"
                class="p-inputtext-sm w-full"
                styleClass="w-full"
                (onInput)="calcularFinal()"
                >
              </p-inputNumber>
            </div>
            <div class="field col-12 md:col-4 mb-2">
              <label class="form-label" for="basic-icon-default-phone">Compras</label>
              <p-inputNumber
                inputId="integeronly"
                formControlName="compras"
                class="p-inputtext-sm w-full"
                styleClass="w-full"
                (onInput)="calcularFinal()">
              </p-inputNumber>
            </div>
            <div class="field col-12 md:col-4 mb-2">
              <label class="form-label" for="basic-icon-default-phone">Final</label>
              <p-inputNumber
                inputId="integeronly"
                formControlName="final"
                class="p-inputtext-sm w-full"
                styleClass="w-full"
                [readonly]="true">
              </p-inputNumber>
            </div>
            <div class="field col-12 md:col-4 mb-2">
              <label class="form-label" for="basic-icon-default-fullname">Fecha</label>
              <div class="input-group input-group-merge">
                <p-calendar
                  formControlName="fecha"
                  view="month"
                  dateFormat="mm/yy"
                  styleClass="w-full"
                  class="p-inputtext-sm"
                  [readonlyInput]="true">
                </p-calendar>
              </div>
            </div>
            <div class="col-12 mb-1 mt-1">
              <div class="flex justify-content-end gap-2">
                <p-button
                  type="submit"
                  severity="primary"
                  label="Registrar"
                  size="small"
                  icon="pi pi-plus"
                  (click)="editar = false; registrarInventario()"
                  [disabled]="!formInventario.valid">
                </p-button>
                <p-button
                  type="submit"
                  *ngIf="editar"
                  label="Editar"
                  severity="warning"
                  size="small"
                  icon="pi pi-file-edit"
                  (click)="editar = true; registrarInventario()"
                  [disabled]="!formInventario.valid">
                </p-button>
                <p-button
                  type="submit"
                  label="Cancelar"
                  severity="danger"
                  [outlined]="true"
                  size="small"
                  icon="pi pi-trash"
                  (click)="resetFormulario()"
                  >
                </p-button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="col-12">
    <div class="card">
      <h5 class="card-header text-500">Inventario</h5>
      <div class="card-body">
        <div class="table-responsive text-nowrap">
          <p-table
            #dt2
            dataKey="id"
            [value]="inventarioService.inventario() | appInventarioByMes:currentMonth"
            [tableStyle]="{ 'min-width': '50rem' }"
            [paginator]="true"
            styleClass="p-datatable-sm"
            [rows]="5"
            [globalFilterFields]="['insumo.nombre']">
            <ng-template pTemplate="caption">
              <div class="flex justify-content-end gap-2">
                <span class="p-input-icon-left ml-auto">
                  <i class="pi pi-search"></i>
                  <input
                    pInputText
                    (input)="dt2.filterGlobal($any($event.target).value, 'contains')"
                    placeholder="Insumo..."
                    class="p-inputtext-sm" />
                </span>
                <div class="input-group input-group-merge">
                <p-calendar
                  [(ngModel)]="currentMonth"
                  view="month"
                  dateFormat="mm/yy"
                  styleClass="w-full"
                  class="p-inputtext-sm"
                  [readonlyInput]="true">
                </p-calendar>
              </div>
              </div>
            </ng-template>
            <ng-template pTemplate="header">
              <tr>
                <th pSortableColumn="categoria.nombre">
                  Insumo <p-sortIcon field="categoria.nombre"></p-sortIcon>
                </th>
                <th pSortableColumn="inicial" style="width: 10%;"  class="text-center">
                  Inicial <p-sortIcon field="inicial"></p-sortIcon>
                </th>
                <th pSortableColumn="ventas" style="width: 10%;"  class="text-center">
                  Ventas <p-sortIcon field="ventas"></p-sortIcon>
                </th>
                <th pSortableColumn="compras" style="width: 10%;"  class="text-center">
                  Compras <p-sortIcon field="compras"></p-sortIcon>
                </th>
                <th pSortableColumn="final" style="width: 10%;"  class="text-center">
                  Final <p-sortIcon field="final"></p-sortIcon>
                </th>
                <th pSortableColumn="concepto" style="width: 10%;">
                  mes<p-sortIcon field="concepto"></p-sortIcon>
                </th>
                <th style="width:10%">Accion</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-inventario>
              <tr>
                <td>{{ inventario.insumo.nombre }}</td>
                <td class="text-center">{{ inventario.inicial }}</td>
                <td class="text-center">{{ inventario.ventas }}</td>
                <td class="text-center">{{ inventario.compras }}</td>
                <td class="text-center">{{ inventario.final }}</td>
                <td>{{ inventario.fecha | date:"MM/yyyy" }}</td>
                <td>
                  <div class="flex gap-2">
                    <i class='pi pi-file-edit text-yellow-500 pointer' (click)="setInventarioEditar( inventario )"></i>
                    <i class='pi pi-trash text-red-500 pointer' (click)="eliminarInventario( inventario )"></i>
                  </div>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
  </div>

</div>
<p-toast></p-toast>
