<div class="card">
  <h5 class="card-header text-500">Inventario bajo</h5>
  <div class="card-body">
    <div class="table-responsive text-nowrap">
      <p-table
        [value]="inventarioService.lowInventory()"
        [tableStyle]="{ 'min-width': '20rem' }"
        styleClass="p-datatable-sm"
        [rows]="10">

        <ng-template pTemplate="header">
          <tr>
            <th>Concepto</th>
            <th class="text-center">Disponible</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-inventory>
          <tr>
            <td>{{ inventory.concepto }}</td>
            <td class="text-center">{{ inventory.final }}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
