<div class="grid">
  <div class="col-12">
    <div class="card mb-4" style="height: 80vh;">
      <div class="card-header">
        <h5 class="text-500">Pedidos</h5>
      </div>
      <div class="card-body">
        <div class="table-responsive text-nowrap">
          <p-table [value]="pedidosService.pedidos()" [tableStyle]="{ 'min-width': '50rem' }" [paginator]="true"
            styleClass="p-datatable-sm" dataKey="id" [rows]="8">
            <ng-template pTemplate="header">
              <tr>
                <th style="width: 5%"></th>
                <th pSortableColumn="desc">
                  Cliente <p-sortIcon field="desc"></p-sortIcon>
                </th>
                <th pSortableColumn="valor" class="text-center">
                  Costo total <p-sortIcon field="valor"></p-sortIcon>
                </th>
                <th pSortableColumn="valor" class="text-center">
                  Estatus Pedido <p-sortIcon field="valor"></p-sortIcon>
                </th>
                <th style="width: 10%">Accion</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-pedido let-expanded="expanded">
              <tr>
                <td>
                  <button type="button" pButton pRipple [pRowToggler]="pedido"
                    class="p-button-text p-button-rounded p-button-plain"
                    [icon]=" expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'">
                  </button>
                </td>
                <td> {{ pedido.cliente.nombre }} </td>
                <td class="text-center">{{ pedido.total }}$</td>
                <td class="text-center">{{ pedido.estatus.desc }}</td>
                <td>
                  <div class="flex gap-2">
                    <i class="pi pi-file-edit text-primary pointer" (click)="editarProducto( pedido )"></i>
                    <i class="pi pi-trash text-danger pointer" (click)="eliminarProducto( pedido )"></i>
                  </div>
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="rowexpansion" let-pedido>
              <tr>
                <td></td>
                <td colspan="3">
                  <div class="py-1 px-6">
                    <p-table [value]="pedido.articulos" dataKey="id">
                      <ng-template pTemplate="header">
              <tr>
                <th pSortableColumn="id">Articulo <p-sortIcon field="price"></p-sortIcon>
                </th>
                <th pSortableColumn="customer" class="text-center">Cantidad <p-sortIcon field="customer"></p-sortIcon>
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-articulo>
              <tr>
                <td>{{ articulo.articulo.articulo }}</td>
                <td class="text-center">{{ articulo.cantidad }}</td>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
              <tr>
                <td colspan="6">There are no order for this product yet.</td>
              </tr>
            </ng-template>
          </p-table>
        </div>
        </td>
        <td></td>
        </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="7" class="text-center">No tienes pedidos pendientes</td>
          </tr>
        </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>
</div>
