<div class="grid">
  <div class="col-12">
    <div class="card mb-4" style="height: 80vh">
      <div class="card-header">
        <div class="flex justify-content-between">
          <h5 class="text-500">Pedidos</h5>
          <div>
            <div style="width: 200px;">
                <label class="pb-2" for="basic-icon-default-fullname">Estatus</label>
                <p-dropdown
                  [options]="listasService.estatus()"
                  optionLabel="desc"
                  optionValue="desc"
                  [showClear]="true"
                  [(ngModel)]="estatus"
                  class="p-inputtext-sm"
                  styleClass="w-full"
                  (onClear)="estatus = ''"
                  >
                </p-dropdown>
              </div>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive text-nowrap">
          <p-table
            [value]="pedidosService.pedidos() | pipePedidosByEstatus: estatus"
            [tableStyle]="{ 'min-width': '50rem' }"
            [paginator]="true"
            styleClass="p-datatable-sm"
            dataKey="id"
            [rows]="8"
          >
            <ng-template pTemplate="header">
              <tr>
                <th pSortableColumn="cliente.nombre">
                  Cliente <p-sortIcon field="cliente.nombre"></p-sortIcon>
                </th>
                <th pSortableColumn="items.articulo.nombre">
                  pedido <p-sortIcon field="items.articulo.nombre"></p-sortIcon>
                </th>
                <th pSortableColumn="total" class="text-center">
                  Costo total <p-sortIcon field="total"></p-sortIcon>
                </th>
                <th pSortableColumn="estatus.desc" class="text-center">
                  Estatus Pedido <p-sortIcon field="estatus.desc"></p-sortIcon>
                </th>
                <th style="width: 10%">Accion</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-pedido>
              <tr>
                <td>{{ pedido.cliente.nombre }}</td>
                <td> {{ pedido.items.articulo.nombre }} ( {{ pedido.items.cantidad }} )  </td>
                <td class="text-center">{{ pedido.total }}$</td>
                <td class="text-center">{{ pedido.estatus.desc }}</td>
                <td>
                  <div class="flex gap-2">
                    <i
                      class="pi pi-check text-green-500 pointer"
                      (click)="completarPedido(pedido)"
                    ></i>
                    <i
                      class="pi pi-file-edit text-yellow-500 pointer"
                      (click)="editarPedido(pedido)"
                    ></i>
                    <i
                      class="pi pi-trash text-red-500 pointer"
                      (click)="eliminarPedido(pedido)"
                    ></i>

                  </div>
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
              <tr>
                <td colspan="7" class="text-center">
                  No tienes pedidos pendientes
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
  </div>
</div>
